*{
	padding: 0;
	margin: 0;
}

.patient
{
	text-align:center;
	font-size: 30px;
	line-height: 180%;
	font-family: sans-serif;
	color:black;
	padding: 20px;
	background-color: royalblue;
	background-size: cover;
	
}
.appo
{
	text-align:center;
	font-size: 30px;
	line-height: 180%;
	font-family: sans-serif;
	color:black;
	padding: 20px;
	background-color: royalblue;
	background-size: cover;
}
.p1
{
	font-family:"ariel";
	font-weight:bolder;
	font-size: 40px;
	color:yellow;
	margin-top:70px;
	background: darkblue;
}
.p2
{
   font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bolder;
	font-size: 40px;
	color:yellow;
	margin-top:70px; 
	text-align:center;
	background: darkblue;

}
.pp1
{
   color: white;
   font-size:25px;
   padding:0px 90px 0px 90px;
   line-height:70px;
}
.pp2
{
   color:white;
   font-size:25px;
   padding:0px 90px 0px 90px;
   line-height:70px;
}
.copyright
{
	text-align:center;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: white;
	font-family: "Arial";
	line-height: 20px;
}
.det
{
	text-align:right;
	padding:0px 10px 0px 80px;
	background: #05548e;
	color: white;
	font-family: "Lucida Grande";
	line-height: 15px;
}
.maintained
{   
	text-align:right;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: aqua;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
	line-height: 20px;
}
.top
{
	padding:0px;
	float: left;
	position: fixed;
	margin-left: 45px;
}
#menu ul
{
	list-style: none;
	box-shadow:10px 25px 75px 30px white;
	opacity:0.98;
}
#menu ul li
{
	background-color:brown;
	border:1px solid burlywood;
	width: 190px;
	height:65px;
	line-height:65px;
	text-align: center;
	float: left;
	position: relative;
	border-radius:8px;
	margin:1.5px;
}
#menu
{
	margin: auto;
}
#menu ul li:nth-child(1)
{
	width:200px;
}
#menu ul li:nth-child(2)
{
	width:200px;
}
#menu ul li:nth-child(3)
{
	width:200px;
}
#menu ul li:nth-child(4)
{
	width:200px;
}
#menu ul li:nth-child(6)
{
	width:200px;
}
#menu ul.drop li
{
		width:200px;
		background-color:yellowgreen;
		border:solid yellowgreen;
		margin:1px;
		margin-left:auto;
}
#menu ul li a
{
	text-decoration: none;
	color: white;
	display: block;
	font-family:"Maiandra GD";
	font-size:125%;
}
#menu ul li a:hover
{
	background-color: cyan;
	border:1px solid#229954;
	border-radius:6px;
	font-size:120%;
	font-family:"Maiandra GD";
	box-shadow:0px 0px 20px 0px white;
}
#menu ul ul
{
	position: absolute;
	display: none;
}
#menu ul li:hover>ul
{
	display: block;
}
#menu ul li:hover>ul
{
	animation:load ls forwards;
	animation-duration:600ms;
	animation-name: menu;
}
@keyframes menu
{
	0%
	{
		opacity:0;
		transform: rotatey(-90deg)translateY(30px);
	}
	100%
	{
		opacity:1;
		transform: rotatey(-90deg)translateY(30px);
	}
}
.button
{
	border-radius: 2%;
	height: 3%;
	width: 5%;
}