*{
	padding: 0;
	margin: 0;
}
body
{
background-color: azure;
}
.home
{
	color: blue;
	font-size: 70px;
	text-decoration:dashed;
	margin-right: 100px;
	line-height: 25px;
	font-size: 30px;
}
.home:hover
{
	border:solid blue 6px;
}
.dett
{
	text-align:right;
	padding:0px 80px 0px 80px;
	background: blanchedalmond;
	color: blueviolet;
	font-family: "Lucida Grande";
	line-height: 15px;
}
.formname
{
	width: 200px;
	height: 30px;
	border-radius: 5px;
}
.appointmentform
{
	margin-top: 160px;
	margin-left: 650px;
	line-height: 40px;
	color:white;
	font-family: serif;
	font-size : 20px;
}
.address
{
	margin-top: -250px;
	margin-left: 20px;
	line-height: 20px;
	color:brown;
	font-family: serif;
	font-size : 18px;
}
.box
{
	box-sizing: border-box;
	background: rgba(red, green, blue, alpha);
	width: 700px;
	height: 600px;
	margin-left: 330px;
	margin-bottom: -930px;
	border-radius: 30px;
	display: block;
}
.submitbn
{
	margin-left: 180px;
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: justify;
	outline: none;
	color: black;
	background-color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 05px #999;
}
.submitbn:hover
{
	background-color: #0012a6;
	color:white;
}
.submitbn:active
{
	background-color: #0012a6;
	box-shadow: 05px #666;
	transform: translateY(4px);
}
.resetbtn
{
	margin-left: 50px;
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: justify;
	outline: none;
	color: black;
	background-color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 05px#999;
}
.resetbtn:hover
{
	background-color: #0012a6;
	color: white;
}
.resetbtn:active
{
	background-color: #0012a6;
	box-shadow: 05px#999;
	transform: translateY(4px);
}
h1
{
	 margin: 0px;
	 color: darkblue;
	 text-align: center;
	 background-color: white;
	 font-size: 40px;
}
.copyright
{
	text-align:center;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: white;
	font-family: "Arial";
	line-height: 20px;
}
.maintained
{   
	text-align:right;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: aqua;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
	line-height: 20px;
}
.mapouter
{
position:relative;
text-align:right;
width:600px;
height:400px;
}
.gmap_canvas
{
 overflow:hidden;
 background:none!important;
 width:600px;
 height:400px;
}
.gmap_iframe 
{
width:600px!important;
height:400px!important;
}
.button
{
	border-radius: 2%;
	height: 3%;
	width: 5%;
}
