*{
	padding: 0;
	margin: 0;
}
*html,body
{
	margin: 0px;
}
.intro
{
	height: 100%;
	width: 100%;
	background: url("www.jpeg") no-repeat 50% 50% fixed;
	background-size:cover;
}
.inner
{
	display: table-cell;
	vertical-align: middle;
	width: 120%;
	max-width: none;
}
.innerbg
{
	max-width:800px;
	text-align:center;
	margin:180px;
}
.innerbg h1
{
	font-family:'Raleway','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:darkorange;
	text-shadow:15px 15px 800px darkgoldenrod;
	font-size: 400%;
	margin-left:200px;
	margin-right:-300px;
	margin-top:180px;
	margin-bottom: 70px;
}
.start
{
	border-radius:9px;
	font-family:'Oswald',sans-serif;
	color:yellow;
	font-size: 135%;
	padding:10px 20px;
	border: solid#02386E 3px;
	text-decoration:none;
	margin-left:400px;
	margin-right:-350px;
	margin-top:180px;
}
.start:hover
{
	color: red;
	border: solid red 3px;
	box-shadow: 2px 2px 300px #e00a0d;
}
.para1
{
	text-align:center;
	font-size: 60px;
	line-height: 100%;
	font-family: sans-serif;
	color:yellow;
	padding: 10px;
	background: url("docto.png")no-repeat;
	background-size: cover;
	
}
.para2
{
	text-align:center;
	font-size: 60px;
	line-height: 100%;
	font-family: sans-serif;
	color:white;
	padding: 20px;
	background: url("intro1.jpeg")no-repeat;
	background-size: cover;
}
.para3
{
	text-align:center;
	font-size: 60px;
	line-height: 100%;
	font-family: sans-serif;
	color:black;
	padding: 20px;
	background: url("pat.jpg")no-repeat 50% 50%;
	background-size: cover;
	
}
.middle1
{
	font-family:"ariel";
	font-weight:bolder;
	font-size: 70px;
	color:chartreuse;
	margin-top:70px;
}
.middlepara1
{
   color: black;
   font-size:40px;
   padding:0px 90px 0px 90px;
   line-height:70px;
}
.middle2
{
   font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bolder;
	font-size: 50px;
	color:black;
	margin-top:70px; 
	text-align:left;
}
.middlepara2
{
   color:whitesmoke;
   font-size:30px;
   padding:0px 300px 0px 0px;
   line-height:70px;
   text-align: justify;
   margin-top:-10px;
}
.middle3
{
   font-family:"Ariel";
	font-weight:bolder;
	font-size: 50px;
	color:whitesmoke;
	margin-top:70px; 
	text-align:left;
}
.middlepara3
{
   color:black;
   font-size:30px;
   padding:0px 300px 0px 0px;
   line-height:70px;
   text-align: justify;
   margin-top:-10px;
}
.copyright
{
	text-align:center;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: white;
	font-family: "Arial";
	line-height: 20px;
}
.det
{
	text-align:right;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: white;
	font-family: "Lucida Grande";
	line-height: 15px;
}
.maintained
{   
	text-align:right;
	padding:0px 80px 0px 80px;
	background: #05548e;
	color: aqua;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
	line-height: 20px;
}
.top
{
	padding:0px;
	float: left;
	position: fixed;
	margin-left: 45px;
}
#menu ul
{
	list-style: none;
	box-shadow:10px 25px 75px 30px white;
	opacity:0.98;
}
#menu ul li
{
	background-color:055bfc;
	border:1px solid #055bfc;
	width: 190px;
	height:65px;
	line-height:65px;
	text-align: center;
	float: left;
	position: relative;
	border-radius:8px;
	margin:1.5px;
}
#menu
{
	margin: auto;
}
#menu ul li:nth-child(1)
{
	width:200px;
}
#menu ul li:nth-child(2)
{
	width:200px;
}
#menu ul li:nth-child(3)
{
	width:200px;
}
#menu ul li:nth-child(4)
{
	width:200px;
}
#menu ul li:nth-child(6)
{
	width:200px;
}
#menu ul.drop li
{
		width:200px;
		background-color:yellowgreen;
		border:solid yellowgreen;
		margin:1px;
		margin-left:auto;
}
#menu ul li a
{
	text-decoration: none;
	color: red;
	display: block;
	font-family:"Maiandra GD";
	font-size:125%;
}
#menu ul li a:hover
{
	background-color: cyan;
	border:1px solid#229954;
	border-radius:6px;
	font-size:120%;
	font-family:"Maiandra GD";
	box-shadow:0px 0px 20px 0px white;
}
#menu ul ul
{
	position: absolute;
	display: none;
}
#menu ul li:hover>ul
{
	display: block;
}
#menu ul li:hover>ul
{
	animation:load ls forwards;
	animation-duration:600ms;
	animation-name: menu;
}
@keyframes menu
{
	0%
	{
		opacity:0;
		transform: rotatey(-90deg)translateY(30px);
	}
	100%
	{
		opacity:1;
		transform: rotatey(-90deg)translateY(30px);
	}
}
